pkgbase = bmo
	pkgdesc = BMO - a GameBoy-style terminal (tkinter)
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/lmdelm-dev/bmo
	arch = any
	license = MIT
	depends = python
	depends = python-pillow
	depends = python-xlib
	depends = tk
	source = https://github.com/lmdelm-dev/bmo/archive/refs/tags/v0.1.1.tar.gz
	sha256sums = f0526c8e9521c961f6e0d48ba54e1eae4bd01f126f9e8e21d87dced515ab3296

pkgname = bmo
